
body {
    font-family: 'Noto Sans', sans-serif;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

.header {
    text-transform: uppercase;
    text-align: center;
}

.avatar_container {
    display: block;
    text-align: center;
}

.avatar {
    width: 300px;
}

a {
    color: grey;
    font-weight: 600;
}

a:hover{
    color: #dc7a7a;
}